{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h3>Modifier un client</h3>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ client.username }}">
        </div>
        <div class="mb-3">
            <label for="firstname" class="form-label">FirstName</label>
            <input type="text" class="form-control" id="firstname" name="firstname" value="{{ client.firstname }}">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">LastName</label>
            <input type="text" class="form-control" id="lastname" name="lastname" value="{{ client.lastname }}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ client.email }}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" value="{{ client.password }}">
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a href="{% url 'expenses' %}" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endblock %}
